In [17]:
import numpy as np
import pandas as pd
from pandas import read_csv
import numpy as np
import matplotlib.pyplot as plt
import math

ModuleNotFoundError: No module named 'PyModels'

In [5]:
# Load data
data = read_csv(r"C:\Users\zhouq\OneDrive - Nanyang Technological University\FYP\Codes\FYP\Data_transform.csv", header = 0, index_col=0, parse_dates=True, dayfirst=False)

# Select 3 exogenous variables 
data_new = data[['GDP', 'M1', 'M4','M5']]
data_new = data_new.dropna()
display(data_new)

# Split the data into training and testing sets
train_size = int(len(data_new) * 0.8)

GDP_fill_data  = pd.DataFrame(data_new['GDP'])
GDP_fill_data.index = GDP_fill_data.index + pd.offsets.QuarterEnd(0)
GDP_fill_data_train, GDP_fill_data_test = GDP_fill_data[:train_size], GDP_fill_data[train_size:]
display(GDP_fill_data_train)

x_data = pd.DataFrame(data_new.iloc[:, 1:])
x_train, x_test = x_data[:train_size], x_data[train_size:]

display(x_train)

                 GDP        M1        M4        M5
Date
1959-06-30  0.022301  0.012391  0.004168  7.332865
1959-09-30  0.000705 -0.019971 -0.001575  7.316347
1959-12-31  0.002845  0.019589  0.004622  7.281844
1960-03-31  0.022228  0.002654  0.001718  7.204208
1960-06-30 -0.005405 -0.007252 -0.000649  7.145892
...              ...       ...       ...       ...
2018-12-31  0.002229 -0.000848  0.001212  7.057013
2019-03-29  0.005960 -0.003236  0.000788  7.086399
2019-06-28  0.007898 -0.001557  0.001012  7.149682
2019-09-30  0.006832 -0.000227  0.001344  7.163896
2019-12-31  0.004680 -0.002277  0.001297  7.245268

[243 rows x 4 columns]

                 GDP
Date
1959-06-30  0.022301
1959-09-30  0.000705
1959-12-31  0.002845
1960-03-31  0.022228
1960-06-30 -0.005405
...              ...
2006-09-30  0.001503
2006-12-31  0.008402
2007-03-31  0.002932
2007-06-30  0.006364
2007-09-30  0.006005

[194 rows x 1 columns]

                  M1        M4        M5
Date
1959-06-30  0.012391  0.004168  7.332865
1959-09-30 -0.019971 -0.001575  7.316347
1959-12-31  0.019589  0.004622  7.281844
1960-03-31  0.002654  0.001718  7.204208
1960-06-30 -0.007252 -0.000649  7.145892
...              ...       ...       ...
2006-09-29  0.000686  0.001264  7.439508
2006-12-29  0.002802  0.000988  7.357986
2007-03-30  0.002561  0.001319  7.286771
2007-06-29  0.002684  0.000667  7.279785
2007-09-28  0.001176  0.000063  7.159854

[194 rows x 3 columns]

In [ ]:
esn = etnn.LiESN(
    input_dim,
    n_hidden,
    output_dim,
    spectral_radius,
    learning_algo='inv',
    leaky_rate=leaky_rate
)